/** General Styles **/

$mainBlue: #2f5572;
$mainGrey: #101010;

body {
    padding: 25px;
    columns: 300px 2;
    
    a {
        color: $mainBlue;
    }
    
    h1 {
        font-family: sans-serif;
    }
}

h1 {
 scroll-behavior: auto;   
}

p {
    
}